<h1><%= @pin.title %></h1>

<% if @pin.photo.attached? %>
<div><%= cl_image_tag @pin.photo.key, height: 300, width: 400, crop: :fill %></div>
<h5>Ajoutez une note</h5>


<% else %>
<div></div>
<% end %>
<%= simple_form_for [@pin, @vote] do |f| %>
<%= f.input :note, collection: 0..5 %>
<%= f.button :submit, class: 'btn btn-primary' %>
<% end %>

<% sum = 0 %>
<% if @pin.votes.length == 0 %>
<p><% "0 votes for the moment" %></p>
<% else %>
<% @pin.votes.each do |vote|  %>
<% sum += vote.note %>
<% end  %>
<% average = sum / @pin.votes.count %>
<p>Note moyenne : <%= average %>/5</p>
<% end %>

<p><%= @pin.description %></p>

<div><% @pin.comments.each do |comment| %>
  <h5><%= comment.user.username %></h5>
  <p><%= comment.content %></p>
  <% end %>
</div>

<h3>Ajouter un commentaire</h3>
<%= simple_form_for [@pin, @comment] do |f| %>
<%= f.input :content %>
<%= f.button :submit, class: 'btn btn-primary' %>
<% end %>



