<div class="container">
  <% users_visits = [] %>
  <% @pin.visits.each do |visit| %>
  <%  users_visits << visit.user  %>
  <% end %>

  <% if users_visits.include? current_user %>
  <%= "You already have visited this place" %>
  <% else %>
  <%= simple_form_for [@pin, @visit] do |f| %>
  <%= f.button :submit, 'Mark as visited', class: 'btn btn-outline-primary btn-sm' %>
  <% end %>
  <% end %>

  <p class="h4"> <%= @pin.title %> </p>


  <% if @pin.votes.count == 0 %>

  <% users_votes = [] %>
  <% @pin.votes.each do |vote|%>
  <% users_votes << vote.user %>
  <% end %>


  <% if @pin.photo.attached? %>
  <div><%= cl_image_tag @pin.photo.key, height: 300, width: 350, crop: :fill %></div>
  <% else %>

  <img src="https://res.cloudinary.com/mehdidi/image/upload/c_scale,q_100,w_370/v1585137241/18743_irwuqc.png" alt="" class="m-1 img-fluid">
  <% end %>
  <div class="container justify-content-center">

    <div class="row">
      <div class="col-7">
        <ul class="ratings">
                <li class="star star-white"></li>
                <li class="star star-white"></li>
                <li class="star star-white"></li>
                <li class="star star-white"></li>
                <li class="star star-white"></li>
              </ul>
          </div>

        <div class="col-5 d-flex justify-content-center"><% if !users_votes.include? current_user %>
                <%= simple_form_for [@pin, @vote], wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
                <%= f.input :note, collection: 0..5 %>
                <%= f.button :submit,'Vote', class: 'btn btn-primary btn-sm mx-1' %>
                <% end %>
                </div>
      </div>
  </div>

   <%= @pin.description %>

  <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <% if @pin.comments.count == 1 %>
    <p my-2>See <%= @pin.comments.count %> comment </p>

    <% else %>
    <p my-2>See <%= @pin.comments.count %> comments </p>
    <% end %>
  </a>

  <div class="collapse" id="collapseExample">
    <% @pin.comments.each do |comment| %>

    <p><strong><%= comment.user.username %></strong></p>
    <p><%= comment.content %></p>

    <% end %>
  </div>

  <%= simple_form_for [@pin, @comment] do |f| %>
  <%= f.input :content, label: false %>
  <%= f.button :submit,'Add a comment', class: 'btn btn-primary btn-block mx-0 pb-1' %>
  <% end %>


  <% else %>


  <div class="d-flex justify-content-center">
    <% sum = 0 %>
    <% @pin.votes.each do |vote| %>
    <% sum += vote.note %>
    <% end %>
    <% average = sum / @pin.votes.count %>

    <% case average %>
    <% when 0 %>
    <ul class="ratings">
      <li class="star star-white"></li>
      <li class="star star-white"></li>
      <li class="star star-white"></li>
      <li class="star star-white"></li>
      <li class="star star-white"></li>
    </ul>
    <% when 1 %>
    <ul class="ratings">
      <li class="star star-white"></li>
      <li class="star star-white"></li>
      <li class="star star-white"></li>
      <li class="star star-white"></li>
      <li class="star star-yellow"></li>
    </ul>
    <% when 2 %>
    <ul class="ratings">
      <li class="star star-white"></li>
      <li class="star star-white"></li>
      <li class="star star-white"></li>
      <li class="star star-yellow"></li>
      <li class="star star-yellow"></li>
    </ul>
    <% when 3 %>
    <ul class="ratings">
      <li class="star star-white"></li>
      <li class="star star-white"></li>
      <li class="star star-yellow"></li>
      <li class="star star-yellow"></li>
      <li class="star star-yellow"></li>
    </ul>
    <% when 4 %>
    <ul class="ratings">
      <li class="star star-white"></li>
      <li class="star star-yellow"></li>
      <li class="star star-yellow"></li>
      <li class="star star-yellow"></li>
      <li class="star star-yellow"></li>
    </ul>
    <% when 5 %>
    <ul class="ratings">
      <li class="star star-yellow"></li>
      <li class="star star-yellow"></li>
      <li class="star star-yellow"></li>
      <li class="star star-yellow"></li>
      <li class="star star-yellow"></li>
    </ul>
    <% end %>
    <% users = [] %>
    <% @pin.votes.each do |vote|%>
    <% users_votes << vote.user %>
    <% end %>
    <% if !users_votes.include? current_user %>
    <%= simple_form_for [@pin, @vote], wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
    <%= f.input :note, collection: 0..5 %>
    <%= f.button :submit,'Vote!', class: 'btn btn-primary btn-sm mx-2' %>
    <% end %>
  </div>



  <% if @pin.photo.attached? %>
  <div><%= cl_image_tag @pin.photo.key, height: 300, width: 400, crop: :fill %></div>
  <% else %>

  <img src="https://res.cloudinary.com/mehdidi/image/upload/c_scale,q_100,w_370/v1585137241/18743_irwuqc.png" alt="" class="m-1 img-fluid">
  <% end %>
  <% sum = 0 %>
  <% @pin.votes.each do |vote| %>
  <% sum += vote.note %>
  <% end %>
  <% average = sum / @pin.votes.count %>

  <% case average %>
  <% when 0 %>
  <ul class="ratings">
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-white"></li>
  </ul>
  <% when 1 %>
  <ul class="ratings">
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-yellow"></li>
  </ul>
  <% when 2 %>
  <ul class="ratings">
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
  </ul>
  <% when 3 %>
  <ul class="ratings">
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
  </ul>
  <% when 4 %>
  <ul class="ratings">
    <li class="star star-white"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
  </ul>
  <% when 5 %>
  <ul class="ratings">
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
  </ul>


  <%= @pin.description %>

  <% end %>
  <p>
    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      é<% if @pin.comments.count == 1 %>
      <p my-2>See <%= @pin.comments.count %> comment </p>
    </a>
    <% else %>

    <p my-2>See <%= @pin.comments.count %> comments </p>
  </a>
  <% end %>

  <div class="collapse" id="collapseExample">
    <% @pin.comments.each do |comment| %>

    <p><strong><%= comment.user.username %></strong></p>
    <p><%= comment.content %></p>

    <% end %>
  </div>

  <%= simple_form_for [@pin, @comment] do |f| %>
  <%= f.input :content, label: false %>
  <%= f.button :submit,'Add a comment', class: 'btn btn-primary btn-block mx-0 pb-1' %>
  <% end %>

  <% end %>

  <% end %>

  <% else %>




  <% if @pin.photo.attached? %>
  <div><%= cl_image_tag @pin.photo.key, height: 300, width: 400, crop: :fill %></div>
  <% else %>
  <img src="https://res.cloudinary.com/mehdidi/image/upload/c_scale,q_100,w_370/v1585137241/18743_irwuqc.png" alt="" class="m-1 img-fluid">
  <% end %>
  <% sum = 0 %>
  <% @pin.votes.each do |vote| %>
  <% sum += vote.note %>
  <% end %>
  <% average = sum / @pin.votes.count %>

  <% case average %>
  <% when 0 %>
  <ul class="ratings">
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-white"></li>
  </ul>
  <% when 1 %>
  <ul class="ratings">
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-yellow"></li>
  </ul>
  <% when 2 %>
  <ul class="ratings">
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
  </ul>
  <% when 3 %>
  <ul class="ratings">
    <li class="star star-white"></li>
    <li class="star star-white"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
  </ul>
  <% when 4 %>
  <ul class="ratings">
    <li class="star star-white"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
  </ul>
  <% when 5 %>
  <ul class="ratings">
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
    <li class="star star-yellow"></li>
  </ul>
  <% end %>




  <%= @pin.description %>


  <p>
    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <% if @pin.comments.count == 1 %>
      <p my-2>See <%= @pin.comments.count %> comment </p>
    </a>
    <% else %>
    <p my-2>See <%= @pin.comments.count %> comments </p>
  </a>
  <% end %>

  <div class="collapse" id="collapseExample">
    <% @pin.comments.each do |comment| %>

    <p><strong><%= comment.user.username %></strong></p>
    <p><%= comment.content %></p>

    <% end %>
  </div>

  <%= simple_form_for [@pin, @comment] do |f| %>
  <%= f.input :content, label: false %>
  <%= f.button :submit,'Add a comment', class: 'btn btn-primary btn-block mx-0 pb-1' %>
  <% end %>

  <% end %>
