<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "https://res.cloudinary.com/mehdidi/image/upload/v1585044187/11_ycsfzl.png" %>
<% end %>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
        <% if current_user.photo.attached? %>
          <div class="dropdown-menu-bg">
            <%= cl_image_tag current_user.photo.key, crop: :thumb, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%= link_to "Add a pin", new_pin_url, class: "dropdown-item"  %>
            <%= link_to "Edit your profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "My dashboard", dashboard_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        <% else %>
          <div class="dropdown-menu-bg">
            <%= image_tag "https://miro.medium.com/max/480/1*W35QUSvGpcLuxPo3SRTH4w.png
          ", crop: :thumb, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%= link_to "Add a pin", new_pin_url, class: "dropdown-item"  %>
            <%= link_to "Edit your profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "My dashboard", dashboard_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
