
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="user-picture">
        <!-- <img class="badge-level" src="https://www.fondationbiodiversite.fr/wp-content/uploads/2019/02/FRB-Raoul-Daubresse.jpg"/> -->
        <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, crop: :thumb, class: "picture", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
            <%= image_tag "https://miro.medium.com/max/480/1*W35QUSvGpcLuxPo3SRTH4w.png
          ", crop: :thumb, class: "picture", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
      </div>


      <h5><%= current_user.username %></h5>
      <p> Level <%= current_user.level %>
      </p>
      <p style="margin-bottom:20px;"><%= current_user.points %> points</p>
    </div>


    <div class="tab col-12" id="tab">
      <div class="container">
        <div class="row">
          <div class="col-3 button">
            <button class="tablinks" onclick="openTab(event, 'badges')">Badges</button>
          </div>
          <div class="col-3 button">
            <button class="tablinks" onclick="openTab(event, 'pins-visited')">Pins Visited</button>
          </div>
          <div class="col-3 button">
            <button class="tablinks" onclick="openTab(event, 'friends')">Friends</button>
          </div>
          <div class="col-3 button">
            <button class="tablinks"onclick="openTab(event, 'pins-created')">Pins Created</button>
          </div>
        </div>
      </div>

      <div id="badges" class="tabcontent">
        <div class="col-12" id="Badges">
          <% current_user.badges.each do |badge| %>
          <p><%= badge.name %></p>
          <% end %>
        </div>
      </div>

      <div id="pins-visited" class="tabcontent">
        <div class="col-12" id="pf">
          <% current_user.visits.each do |visit| %>
          <div class="card-product m-1 my-3">
            <% if visit.pin.photo.attached? %>
              <%= cl_image_tag  visit.pin.photo.key %>
            <% else %>
              <img src="https://source.unsplash.com/random" />
            <% end %>
            <div class="card-product-infos">
              <h6>
                <%= link_to visit.pin.title, pin_path(visit.pin)  %>
              </h6>
              <p class="overflow-ellipsis">
                <%= visit.pin.description %>
              </p>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div id="friends" class="tabcontent">
        <div class="col-12" id="pf">
          <% @friends.each do |friend| %>
          <div class="card-product m-1 my-3">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
              <p>
                <%= friend.username %>
              </p>
              <p>
                <%= friend.address %>
              </p>

            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div id="pins-created" class="tabcontent">
        <div class="col-12" id="pf">
          <% @pins.each do |pin| %>
          <% if pin.user_id == current_user.id %>
          <div class="card-product m-1 my-3">
            <img src="https://source.unsplash.com/random" />
            <div class="card-product-infos">
              <h6><%= pin.title %></h6>
              <p overflow-ellipsis><%= pin.description %></p>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function openTab(evt, tabName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
